// Variables

$max-width:1300px;

// Singularity variables
// @include breakpoint-set('to ems', true);
// @include add-grid(12);
// @include add-gutter(1/4);

// // Breakpoints
$small: 500px;
$medium: 768px;
$large: 1024px;
// $x-large: 1220px;
// $space: 1em;
