.main-custom-class{
    max-width: $max-width;
    margin: auto;
    box-sizing: border-box;
    @media screen and (min-width: $medium)  {
        display: flex;
    }
    .block-region-main{
        @media screen and (max-width: $medium)  {
            flex: 1 0 100%;
        }
        @media screen and (min-width: $medium)  {
           flex: 1 0 64%;            
        }

    }
    .block-region-sidebar{
        @media screen and (max-width: $medium) {
            flex: 1 0 100%;
        }
        @media screen and (min-width: $medium) {
           flex: 1 0 30%;
        }
    }
}