.block-region-main .view-content{
    
    ul{
        li{
            list-style-type: none;
            box-sizing: border-box;
            padding: 25px;
            margin-bottom: 45px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
.block-system-breadcrumb-block{
    padding-left: 2%;
    
    a{
        text-decoration-line: none;
        color: darkseagreen;
        display: inline;
    }

}