header{
   ul{
       padding-left: 0px;
       margin-left: 0px!important;
   }
    li {
        display: inline-block;
        a{
            
            @media screen and (max-width: $medium)  {
                padding: 2px;
                padding-left: 20px;
                padding-right: 20px;
                border-radius: 100px;
                text-decoration: none;                
            }
            @media screen and (min-width: $medium)  {
                text-decoration: none;
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 20px;
                padding-bottom: 16px;
            }
        }
        .is-active{
            @media screen and (max-width: $medium)  {

            }
            @media screen and (min-width: $medium)  {
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 20px;
                padding-bottom: 15px;
            }
        }
    }
    margin-bottom: 60px;
}    