.block-region-sidebar{
    a{
        text-decoration: none;
        color: darkseagreen;
    }
    .block-tagadelic{
        .tag-cloud{

        }
    }
    .block{
        h2{
            border-bottom: 3px solid lightgray;
            padding-bottom: 10px;
            box-sizing: border-box;
        }
    }
}