.block-region-main .view-content{
    a{
        text-decoration: none;
    }
    ul{
        li{
            background-color: white;
            border-top: 15px solid rgb(2, 82, 121);
            .field--name-title{
                color: $title-color
            }
            .node--view-mode-teaser{
                box-sizing: border-box;
                .node__meta{
                    max-width: 20%;
                    display: inline-block;
                    color: $text;
                }
                .node__content{
                    color: $text;
                    max-width: 79%;
                    display: inline-block;
                }
            }
        }
    }
}
.block-region-main{
    .pager{
        color: $title-color;
        a{
            text-decoration: none;
            color: white;
            
        }
        @media screen and (max-width: $medium) {
            background: rgb(6, 108, 157);
            width: 80%;
            margin: auto;
            border-radius: 100px;
            text-align: center;
            margin-bottom: 40px;
            padding-top: 2px;
            padding-bottom: 2px;
            font-size: 18px;
        }
        @media screen and (min-width: $medium) {
           flex: 1 0 30%;
           position: absolute;
            text-align: center;
            width: 120%;
            margin: 0px;
            padding: 0px;
            left: -20%;
            background: rgb(6, 108, 157);
        }
    }

}