header{
    background-color: rgb(2, 105, 159);
    a{
        color: white;
    }
    li {
        .is-active{
            background-color: rgb(2, 156, 224);
            color: white!important;
        }
    }
}